@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 241 222 102;
        --color-secondary: '#bdad66';
        --color-primary_dark: '#f2ebbe';
        --color-secondary_dark: '#dcd9be';
    }
}
